streamlit>=1.20.0
requests>=2.28.1
pydicom>=2.3.0
hl7>=0.5.1
pypdf>=3.0.0
snowflake-connector-python>=3.0.0
trulens-eval>=0.19.4
streamlit-webrtc>=0.51.1
av>=10.0.0
gtts>=2.3.2
SpeechRecognition>=3.10.0
pydub>=0.25.1
moviepy>=1.0.3
audiorecorder>=0.2.7
fhirpy>=4.0.1
fhirclient>=4.0.1
opencv-python>=4.7.0
soundfile>=0.12.1
meldrx>=0.0.6
reportlab>=4.0.4
pandas>=2.0.0
matplotlib>=3.7.0
numpy>=1.24.0
Pillow>=9.5.0
azure-cognitiveservices-speech>=1.4.0   # For Azure Text-to-Speech and Speech-to-Text
azure-ai-formrecognizer>=3.2.1          # For analyzing documents like PDFs
azure-storage-blob>=12.15.0             # For Azure Blob Storage integration
azure-keyvault-secrets>=4.5.0           # For securely managing API keys
azure-identity>=1.11.0                  # For authentication with Azure services
